---
- name: Install DevOps tools on Ubuntu EC2
  hosts: Ubuntu_Servers
  become: yes

  tasks:

    # ---------------- Base ----------------
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - docker.io
          - unzip
          - curl
          - ca-certificates
          - gnupg
          - lsb-release
          - software-properties-common
        state: present

    - name: Enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    # ---------------- kubectl ----------------
    - name: Install kubectl via snap
      snap:
        name: kubectl
        classic: yes
        state: present

    # ---------------- AWS CLI ----------------
    - name: Install AWS CLI via apt
      apt:
        name: awscli
        state: present

    # ---------------- Helm ----------------
    - name: Install Helm via snap
      snap:
        name: helm
        classic: yes
        state: present

    # ---------------- Terraform ----------------
    - name: Install Terraform via snap
      snap:
        name: terraform
        classic: yes
        state: present

    # ---------------- eksctl ----------------
    - name: Download eksctl
      get_url:
        url: https://github.com/weaveworks/eksctl/releases/latest/download/eksctl_Linux_amd64.tar.gz
        dest: /tmp/eksctl.tar.gz

    - name: Extract eksctl
      unarchive:
        src: /tmp/eksctl.tar.gz
        dest: /usr/local/bin
        remote_src: yes
        mode: '0755'
